<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Inventory Solutions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div th:insert="menu"></div>
</header>

<main>
    <div class="hero">
        <h1>Üdvözöljük a Software Inventory Solutions oldalán</h1>
        <p>Hatékony, megbízható és biztonságos szoftverkezelés</p>

    </div>
    <div class="description">
        <h2>Rólunk</h2>
        <p>A Software Inventory Solutions célja, hogy a legjobb szoftverkezelési megoldásokat kínálja ügyfeleink számára. Széleskörű tapasztalattal rendelkezünk a szoftverek nyilvántartásában és nyomon követésében, biztosítva, hogy minden szükséges információ könnyen hozzáférhető legyen. Célunk, hogy segítsünk vállalatoknak optimalizálni szoftverhasználatukat, csökkenteni a költségeket, és növelni a termelékenységet.</p>
        <p>Csapatunk szakértőkből áll, akik elkötelezettek amellett, hogy a legmagasabb szintű szolgáltatást nyújtsák ügyfeleinknek. Folyamatosan fejlesztjük és bővítjük szolgáltatásainkat, hogy a legújabb technológiákat és trendeket követhessük, így garantálva a sikeres szoftverkezelési megoldásokat.</p>
    </div>
</main>

<footer>
    <p>&copy; 2024 Software Inventory Solutions</p>
</footer>

</body>
</html>