<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Regisztrációs hiba</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        h1 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<header>
    <div th:insert="menu"></div>
</header>

<main>
    <h1 th:text="${uzenet}" />
    <a href="/regisztral">Próbálja újra.</a>
</main>
</body>
</html>