<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sikeres bejelentkezés</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
    <style>
        h1 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

<header>
    <div th:insert="menu"></div>
</header>
<main>
    <h1 th:utext="'A regisztrációja sikeres. <br/> Azonosítója: ' + ${id}" />
</main>
</body>
</html>